* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    /* background: #0b0c10;
    color: #c5c6c7 */
  }

  body {
    font-family: "Segoe UI", Arial, sans-serif;
    line-height: 1.4;
  }

  h1,h2,h3,h4,h5 {
    /* color: #66FCF1   */
  }

  a {
    /* color: #45A29E; */
  }

  td {
    vertical-align: middle;
    padding: 5px;
  }
  th {
    vertical-align: middle;
    padding: 5px;
    text-align: left;
  }
  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .form-container {
    display: flex;
    width: 100%;
  }
  .input-text {
    flex: 8;
    font-size: 14px;
    padding: 12px 15px;
    border: 1px solid #cecece;
    outline: none;
    font-weight: 400;
    max-width: 80%;
  }
  .input-text::placeholder {
    color: rgb(17, 17, 17);
    opacity: 0.8;
  }
  .input-submit {
    flex: 2;
    border: none;
    background: #038203;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    width: 20%;
    outline: none;
  }
  .todo-item {
    list-style-type: none;
    padding: 17px 0px;
    border-bottom: 1px solid #eaeaea;
  }
  .todo-item input {
    margin-right: 15px;
  }
  .todo-item button {
    background: #d35e0f;
    color: #fff;
    border: 1px solid #d35e0f;
    padding: 3px 7px;
    cursor: pointer;
    float: right;
    outline: none;
  }
  .player-card {
    border: 1px solid lightgrey;
  }
  .player-card-table {
    width: 100%;
    border-collapse: collapse;
  }
  .nav {
    margin-top: 10px;
    padding: 10px
  }
  .nav-label {
    margin-right: 1%;
  }
  small {
    vertical-align: middle;
    font-size: 10px;
  }

  .dropdown {
    display: inline-block;
  }

  .player-image-container {
    width: 65px;
    display: inline-block;
    background: #949ca3;
  }

  .player-image {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  .player-details {
    display: inline-block;
    margin-left: 30px;
    width: calc(100% - 65px - 30px);
    vertical-align: top;
  }

  .player-header {
    margin-top: 15px;
  }